body {
    font: 15px Arial, Helvetica;
    color: black;
}
#active {
    background-color: white;
    color: black;
}
nav {
    background: rgb(169,169,169);
    background: linear-gradient(0deg, rgba(169,169,169,1) 0%, rgba(140,140,140,1) 100%);
    padding: 0.5em 0.5em 0.5em;
}
.about {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-decoration: none;
    font-weight: 150;
    color: white;
    font-size: 15pt;
}
.about:hover {
    background-color: white;
    color: black;
}
.projects {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-decoration: none;
    font-weight: 150;
    color: white;
    font-size: 15pt;
}
.projects:hover {
    background-color: white;
    color: black;
}
.contact {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-decoration: none;
    font-weight: 150;
    color: white;
    font-size: 15pt;
}
.contact:hover {
    background-color: white;
    color: black;
}
.home {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-decoration: none;
    font-weight: 150;
    color: white;
    font-size: 15pt;
}
.home:hover {
    background-color: white;
    color: black;
}
hr.dev {
    margin-bottom: 0.1pt;
    margin-top: 0.1pt;
}